<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create new post</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/user/board">Postful</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/user/board">Board</a></li>
                <li class="nav-item"><a class="nav-link" href="/author">Authors</a></li>
                <li class="nav-item"><a class="nav-link active" href="/post">Posts</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <form method="post" th:action="@{/post}" enctype="multipart/form-data">
                <div class="row">
                    <input type="file" name="image" accept=".jpg, .jpeg, .png">
                    <p th:text="${photoMessage}"></p>
                </div>
                <div class="row">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="row">
                    <label for="description">Description</label>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="row">
                    <label for="author">Author</label>
                    <select id="author" name="author" required>
                        <option th:value="${null}">None</option>
                        <option name="author" th:each="author : ${authorList}"
                                th:text="${author.getFirstNameAndLastName()}"
                                th:value="${author.id}">
                        </option>
                    </select>
                </div>
                <div class="row">
                    <label for="date">Datestamp</label>
                    <input type="datetime-local" id="date" name="date">
                </div>
                <div class="row">
                    <label for="tags">Input tags with a space between</label>
                    <textarea name="tags" id="tags"></textarea>
                </div>
                    <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
